body{
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#fc1241,#fc124130);
}

.main-parent{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  color: aliceblue;
  border-style:solid;
  padding: 5px;
  margin-bottom: 10px;
}


.table{
  margin-top: 10px;
  width: 58%;
  display: flex;
  background-color:aliceblue;
  flex-direction: column;
  border-style: hidden;
  border-radius: 10px;
}

.converter{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items:end;
  padding : 10px;
  flex-wrap: wrap;
}

.swap button{
  background-color:aliceblue;
  border-style: solid;
  border-width: 0.1ch;
  color: #FF204E;
  border-radius: 15px;
  border-width: 1px;
  height: 30px;
  width:30px;
  cursor: pointer;
  border-color: #FF204E;
}

.swap button:hover{
  background-color: #FF204E;
  color: aliceblue;
}

.converter h4{
  margin-bottom: 2px;
}

.converter div{
  margin: 10px;
}

select{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

option{
  color: black;
}



.amount input{
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  padding:10px;
}

.result h1{
  margin-top : 2px;
}

.result h4{
  color: #fc1241;
}

.result p{
  margin-bottom: 2px;
  color: #FF204E;
}

.result h5{
  margin : 2px;
}

.submit{
  padding-right: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content:end;
}

.submit button{
  height: 50px;
  width: 100px;
  border-radius: 20px;
  color: aliceblue;
  background-color: #FF204E;
  border-style: none;
  font-size: medium;
}

.submit button:hover{
  font-size: medium;
  border-style: solid;
  border-color: #FF204E;
  background-color: aliceblue;
  color: #FF204E;
  cursor: pointer;
}


.loader{
  width: 20px;
  height: 20px;
  border: 5px solid aliceblue;
  border-bottom-color:#FF204E;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }


  .bigLoader {
    align-self: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .bigLoader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FF204E;
    animation: prixClipFix 2s linear infinite ;
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

  